[Unit]
Description=set the wpa configuration of oem partition on emmc device according to wlan data of overlay partition.
After=local-fs.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/emmc-wpaconf-setting

[Install]
WantedBy=multi-user.target
