[Unit]
Description=oem logger downloader service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/root/ihost-logger-downloader/server.js & 
Restart=on-failure

[Install]
WantedBy=multi-user.target
